
.plugin-gridster.LiveboxPlay .front {
  background: url('images/liveboxplay.png') center 34px;
  background-size:   135px 87px;
  background-repeat: no-repeat;
}

.plugin-gridster.LiveboxPlay .back {
 background-size: cover;
}